#app-sidebar.sidebar-custom {
    width: 250px;
}

#app-sidebar.sidebar-custom .nav-link {
    color: white;
    padding: 0.75rem 1.5rem;
    position: relative;
    border-radius: 0;
}

#app-sidebar.sidebar-custom .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#app-sidebar.sidebar-custom .nav-link.active {
    background-color: transparent;
    font-weight: bold;
}

#app-sidebar.sidebar-custom .nav-link.active::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 30px;
    height: 100%;
    background: white;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

#sidebar-expander {
    left: 250px !important;
}